{% extends "base.html" %}
{% load static %}
{% block 'title' %}ورود به دیجی استور{% endblock 'title' %}
{% block 'content' %}
<div id="main">
    <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
        <div class="account-box">
            <a href="index.html" class="logo-account"><img src="{% static 'assets/images/logo-login.png' %}" alt="logo"></a>
            <span class="account-head-line">ورود به دیجی‌استور</span>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="content-account">
                <form method="post" action="{% url 'accounts:login' %}" id="login">
                    {% csrf_token %}
                    <label for="email-phone">شماره موبایل یا پست الکترونیک خود را وارد کنید</label>
                    <input name="username" type="text" id="email-phone" class="input-email-account" placeholder="">
                    <a href="password-forget.html" class="account-link-password">رمز خود را فراموش کرده ام</a>
                    <label for="password">رمز عبور</label>
                    <input name="password" type="password" id="password" class="input-password" placeholder="">
                    <div class="parent-btn">
                        <button class="dk-btn dk-btn-info">
                            ورود به دیجی استور
                            <i class="fa fa-sign-in sign-in"></i>
                        </button>
                    </div>
                    <div class="form-auth-row">
                        <label for="remember" class="ui-checkbox">
                            <input type="checkbox" value="1" name="login" checked="" id="remember">
                            <span class="ui-checkbox-check"></span>
                        </label>
                        <label for="remember" class="remember-me">مرا به خاطر داشته باش</label>
                    </div>
                </form>
            </div>
            <div class="account-footer">
                <span>کاربر جدید هستید؟</span>
                <a href="register.html" class="btn-link-register">ثبت‌نام در دیجی‌استور</a>
            </div>
        </div>
    </div>
</div>

{% endblock 'content' %}