{% extends "base.html" %}
{% load static %}
{% block 'title' %}تغییر رمز عبور{% endblock 'title' %}
{% block 'content' %}
<div id="main">
  <div class="col-lg-4 col-md-6 col-xs-12 mx-auto">
    <div class="account-box">
      <a href="{% url 'root:home' %}" class="logo-account">
        <img src="{% static 'assets/images/logo-login.png' %}" alt="logo" />
      </a>
      <span class="account-head-line">تغییر رمز عبور</span>
      <div class="content-account">
        <form method="post" action="{% url 'accounts:change_password' %}" id="password-change">
          {% csrf_token %}

          <label for="password-old">رمز عبور قبلی</label>
          <input type="password" name="password-old" id="password-old" class="input-password" />

          <label for="password-new">رمز عبور جدید</label>
          <input type="password" name="password-new" id="password-new" class="input-password" />

          <label for="password-new-again">تکرار رمز عبور جدید</label>
          <input type="password" name="password-new-again" id="password-new-again" class="input-password" />

          <div class="parent-btn mt-3">
            <button type="submit" class="dk-btn dk-btn-info">
              تغییر رمز عبور
              <i class="fa fa-refresh sign-in"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock 'content' %}
